body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    
}

nav ul li a:hover {
    color: #ffcc00;
}

.hero {
    background-image: url("clg.jpg");
    background-size: cover;
    background-position: center;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
    color: #eef3f4;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color:  #64a2c3;
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #64a2c3;
}

.departments{
    background-image: url(depa.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.departments h1{
    text-align: center;
    color: #100f0f;

}
.departments ul li h2{
    color: #100f0f;
    margin-bottom: 5px;
    text-align: center;

}
.departments p{
    color: #100f0f;
    margin-bottom: 40px;
    text-align: center;

}
.faculties{
    background-image: url("faculty.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.faculties h1{
    text-align: center;
    color: #100f0f;
}
.faculties ul li h2{
    color: #101010;
    margin-bottom: 5px;
    text-align: center;

}
.faculties p{
    color: #101010;
    margin-bottom: 40px;
    text: size 2px;
    text-align: center;

}
.library {
    background-image: url("library.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}    

.library {
    text-align: center;
}

.library h2 {
    color: #0d0d0d;
    margin-bottom: 25px;
}

.library p {
    color: #100f0f;
    font-size: 1.9rem;
    margin-bottom: 50px;
}

.library ul {
    padding: 0;
    list-style-type: none;
}

.library ul li {
    color: #100f0f;
    font-size: larger;
    margin-bottom: 50px;
    
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
